@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

* {
  scrollbar-color: white #090909 !important;
  scrollbar-width: thin !important;
}

html {
  scrollbar-width: thin;
  scrollbar-color: white #090909;
}

body {
  min-height: 100vh;
  background: #090909;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 0;
}

.content {
  max-width: 1600px;
}

@media (max-width: 1600px) {
  .content {
    padding: 0 24px;
  }
}
.header {
  border-bottom: 1px solid #222131;
  padding: 24px 0;
}
.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.btn-connect-wallet {
  border-radius: 4px;
  background: var(--gradient-button, linear-gradient(90deg, #8c0eff 0%, #b97dff 100%));
  display: flex;
  padding: 8px 18px;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  height: 40px;
}
.bg-modal-network {
  border-radius: 20px;
  border: 1px solid #5b749d;
  background: #14161d;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.active-network {
  background: #363959;
}
.bg-network {
  background: #1d1e29;
}
.network {
  border-radius: 6px;
  padding: 22px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.dropdown .dropdown-content {
  z-index: 99;
}
